* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*------------------------------------ Geral: telas 1.1 e 1.2*/

/* header */
header {
  height: 70px;
  width: 100%;
  position: fixed;
  background-color: #367794;
  font-size: 25px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

/* main */
main {
  width: fit-content;
  margin: 20px auto;
}
/* Quizzes */
article {
  height: 180px;
  width: 340px;
  position: relative;
  margin: 10px 0;
  overflow: hidden;
}
article img {
  height: 100%;
  width: 100%;
  position: relative;
}

article p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: fit-content;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  line-height: 22px;
  text-shadow: 2px -2px 3px #080808;
  z-index: 2;
}
/*--------------------------------------------------- tela 1.1 */
/* criação de Quizz */
.newQuizz {
  height: 180px;
  width: 340px;
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #000000 1px;
  color: #b9b9b9;
}
.newQuizz button {
  border: dashed #bc6a88 2px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  margin-top: 30px;
}
/* titulo dos articles */
.title {
  width: 340px;
  margin-top: 30px;
  margin-bottom: 0;
}
.title p {
  font-size: 20px;
  font-weight: 700;
}
/*---------------------------------------------------- tela 1.2 */
.title2 {
  width: 340px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.title2 p {
  font-size: 20px;
  font-weight: 700;
}

/* ------------------------------------------------------tela 2 */
.questions {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.header-quizzes {
  height: 150px;
  width: 100%;
  position: relative;
  margin-top: 70px;
  overflow: hidden;
}

.header-quizzes img {
  height: 100%;
  width: 100%;
  position: relative;
}

.header-quizzes p {
  position: absolute;
  bottom: 45%;
  left: 15%;
  height: fit-content;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  line-height: 22px;
  text-shadow: 2px -2px 3px #080808;
  z-index: 2;
}

/* seção de perguntas */

section {
  width: 340px;
  height: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section img {
  width: 165px;
  height: 115px;
  margin-top: 10px;
}

.question-title p {
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}
.question-title {
  width: 340px;
  height: 80px;
  background-color: #bc6a88;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.img-options {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  position: relative;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 2px;
}
button p {
  margin: 5px 0;
}
.options-title {
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0;
}

/* resultado */
.result {
  height: fit-content;
  width: 100%;
}
.result img {
  width: 340px;
  height: auto;
}
.title-result {
  width: 340px;
  height: 100px;
  background-color: #367794;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-result p {
  font-weight: 700;
  font-size: 19px;
  color: #ffffff;
}
.result-message {
  width: 340px;
  padding: 30px 0;
  height: fit-content;
}
.result-message p {
  width: 340px;
  height: fit-content;
  overflow: hidden;
}

.restart-quizz {
  border: solid #bc6a88 2px;
  background-color: #bc6a88;
  filter: drop-shadow(5px 5px 5px #4e0a27);
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  margin: 10px auto;
}
.return-home {
  background-color: #dfb6c51f;
  text-align: center;
  border-radius: 30px;
  width: 190px;
  height: 40px;
  margin: 10px auto;
  color: #bc6a88;
  text-shadow: 0px 0px 10px #4e0a27;
  padding-bottom: 40px;
}
/*  tela 3.1 e 3.2------------------------------------------------------------------------- */
h1 {
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  color: #042d41;
  padding: 20px;
}
input {
  height: 50px;
  width: 340px;
  border-radius: 20px;
  border: solid #bc6a88 2px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
}
::placeholder {
  color: #c99bab;
}
/* ----------------------------------------------------------------------------------tela 3.1 */

.window3-1 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-questions {
  border: solid #367794 2px;
  background-color: #367794;
  filter: drop-shadow(3px 5px 5px #0325357c);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 30px;
  width: 320px;
  height: 60px;
  margin-top: 30px;
  color: #021a25;
}
/* -------------------------------------------------------------------------------------tela 3.2 */
.window3-2 {
  margin-top: 80px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.window3-2 p {
  margin-left: 5%;
  font-weight: 700;
  color: #042d41;
  padding-top: 20px;
}
.container-questions {
  display: flex;
  justify-content: space-between;
  width: 340px;
  align-items: center;
}
.container-questions ion-icon {
  color: #021a25;
  font-weight: 700;
  font-size: 25px;
  padding-top: 20px;
}
.window3-2 button p {
  padding: 0;
  margin: 0;
}
.window3-2 button {
  border: solid #367794 2px;
  background-color: #367794;
  filter: drop-shadow(3px 5px 5px #0325357c);
  font-weight: 700;
  font-size: 16px;
  border-radius: 30px;
  width: 320px;
  height: 60px;
  margin: 0 auto;
  margin-top: 30px;
  color: #021a25;
  text-align: center;
}
/* utilitarios */
.hide {
  display: none;
}
.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top, #000000, #f3ebeb05);
  top: 0;
  z-index: 1;
}
.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0000007c;
  top: 0;
  z-index: 1;
}
.white-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff8c;
  top: 0;
  z-index: 1;
}
.green {
  color: green;
}
.red {
  color: red;
}
